DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mercy"

JWT_SECRET="change-this-to-a-long-random-secret"

R2_ENDPOINT="https://projId.r2.cloudflarestorage.com"
R2_ACCESS_KEY_ID="access-id"
R2_SECRET_ACCESS_KEY="secret-keyyyy"
R2_BUCKET_NAME="merci"

REDIS_HOST="localhost"
REDIS_PORT="6379"